state_IL_application.csv
*.pyo
*.pyc
__pycache__
*.docx#
*.xlsx#
*.pptx#
.ipynb_checkpoints
grant_moss_solution
*.zip
~$ding Assignment - Data Scientist (Level NEB-10).docx
~$loan_fast_approval_slides_gm.pptx
interview/~$terview_prep.docx
interview/~WRL0003.tmp

